
<!--This is the parent html and has its place held by <app-root> in index-->
<h1>Here is app.component.html contents</h1>
<h2>app.component title = {{title}}</h2> <!--Example of string interpolation-->
<h2 [style]='appData'>Styled Data</h2> <!--Example of property binding-->
<input [(ngModel)] = "appData">  <!--Example of 2-Way binding. Requires importing FormModule and NgModule in app.module.ts-->
<br/><br/>
<button  (click)="lookAtChildObservable()">Look at Child Observable</button>
<br/><br/>
<button  (click)="lookAtChildPromise()">Look at Child Promise</button>
<!--Notice the (notifyParnet) is in the <app-child> bracket set-->
<!--Notice where the app-child > bracket is located!! -->
<app-child (notifyParent) = "getNotification($event)"> </app-child>
<app-child2></app-child2>